input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

body {
    background-color: #D6D6FF;
}

.container {
    display: flex;
    height: 1.938rem;
}

.spinner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 6.25rem;

}

.spinners {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 1.938rem;
}

.value-container {
    padding-left: 0.625rem;
    width: 100%;
    border: 0.063rem solid;
    border-bottom-left-radius: 0.188rem;
    border-top-left-radius: 0.188rem;
    border: 0.063rem solid #EEEEEE;
    height: 1.938rem;
}

.spinner-button-up,
.spinner-button-down {
    height: 1.031rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    background-color: #EEEEEE;
}

.spinner-icon {
    transform: scale(0.7);
}

.spinner-button-up {
    border-top-right-radius: 0.188rem;
}

.spinner-button-down {
    border-bottom-right-radius: 0.188rem;
}

.percentage {
    color: lightGrey;
    font-size: 0.938rem;
    line-height: 28px;
    font-weight: 400;
    font-family: "Roboto";
    margin-left: 0.188rem;
}

.custom-input-number {
    font-size: 0.875rem;
    line-height: 28px;
    font-weight: 400;
    height: 1.938rem;
    width: 50px;
}

.configuration-form {
    background-color: white;
}